*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, figure, figcaption {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul, li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: "";
}

abbr, acronym {
  border: 0;
}

@font-face {
  font-family: "SFProDisplay";
  src: url("../../assets/fonts/SF-Pro-Display-Regular.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../../assets/fonts/SF-Pro-Display-Medium.ttf") format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../../assets/fonts/SF-Pro-Display-Bold.ttf") format("ttf");
  font-weight: 700;
}
html,
body {
  font-family: "SFProDisplay", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  background-color: #000000;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 375px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background: url("./../assets/images/background-full/4.png") no-repeat;
  background-size: cover;
}
@media (min-resolution: 2dppx) {
  .app {
    background: url("./../assets/images/background-full/4@2x.png") no-repeat;
    background-size: cover;
  }
}
@media (min-resolution: 3dppx) {
  .app {
    background: url("./../assets/images/background-full/4@3x.png") no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 414px) and (max-height: 736px) {
  .app {
    background-position-y: -40px;
  }
}
@media screen and (max-width: 375px) and (max-height: 667px) {
  .app {
    background-position-y: -40px;
  }
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  background-color: transparent;
}
@media screen and (max-width: 375px) and (max-height: 667px) {
  .header__content {
    margin-top: 22px;
  }
}
.header__content .close-link {
  width: 24px;
  height: 24px;
  display: block;
}
.header__content .restore-link {
  font-size: 13px;
  line-height: 3.15;
  color: rgba(255, 255, 255, 0.6);
  text-transform: capitalize;
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}
.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17vh 0 5vh;
}
@media screen and (max-width: 414px) and (max-height: 736px) {
  .main__content {
    padding: 15vh 0 3vh;
  }
}
.main__content .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 29px;
}
@media screen and (max-width: 414px) and (max-height: 736px) {
  .main__content .title {
    font-size: 26px;
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 375px) and (max-height: 667px) {
  .main__content .title {
    font-size: 26px;
    margin-bottom: 16px;
  }
}
.main__content .title__size {
  font-size: 24px;
}
.main__content .features {
  display: flex;
  flex-direction: column;
}
.main__content .features__item {
  display: flex;
  align-items: center;
}
.main__content .features__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  margin-right: 8px;
}
.main__content .features__description {
  font-size: 17px;
  line-height: 1.79;
  color: #FFFFFF;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.684495);
}
.main__offers .offers-list {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.main__offers .offers-list .offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 151px;
  height: 178px;
  padding: 28px 0 14px;
  color: #FFFFFF;
  /*
  &__price{
    font-weight: 700;
    font-size: 24px;
    line-height: 15px;
  }
  &__price-duration{
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
  }
  */
}
@media screen and (max-width: 375px) and (max-height: 667px) {
  .main__offers .offers-list .offer {
    width: 140px;
    height: 166px;
    padding: 20px 0 14px;
  }
}
.main__offers .offers-list .offer--disabled {
  opacity: 0.6;
  scale: 0.9;
}
.main__offers .offers-list .offer__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 23px;
}
@media screen and (max-width: 375px) and (max-height: 667px) {
  .main__offers .offers-list .offer__title {
    margin-bottom: 18px;
    font-size: 16px;
  }
}
.main__offers .offers-list .offer__price-wrapper {
  margin-bottom: 12px;
}
.main__offers .offers-list .offer__price {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
}
.main__offers .offers-list .offer__price strong {
  font-weight: 700;
  font-size: 24px;
  line-height: 15px;
}
.main__offers .offers-list .offer__feature {
  font-size: 15.4px;
  line-height: 18px;
  font-weight: 700;
  background-color: #495795;
  margin-bottom: 10px;
  padding: 4px 0;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 375px) and (max-height: 667px) {
  .main__offers .offers-list .offer__feature {
    font-size: 14px;
  }
}
.main__offers .offers-list .offer__month {
  font-size: 13.2px;
  line-height: 15px;
}
.main__offers .offers-list .offer__discont {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #DB0000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  position: absolute;
  top: -1px;
  right: 1px;
}
@media screen and (max-width: 375px) and (max-height: 667px) {
  .main__offers .offers-list .offer__discont {
    width: 30px;
    height: 30px;
  }
}
.main__offers .offers-list .offer-1 {
  background: url("../../assets/images/combined-shape.webp") no-repeat;
  background-size: contain;
  background-position: center;
}
.main__offers .offers-list .offer-2 {
  background: url("../../assets/images/combined-shape-cut.webp") no-repeat;
  background-size: contain;
  position: relative;
  background-position: center;
}
.main__offers .button-wrapper {
  text-align: center;
  padding: 16px 20px;
}
.main__offers .button-wrapper .button-continue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  border-radius: 30px;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 700;
  line-height: 17px;
  color: #FFFFFF;
  background: linear-gradient(270deg, #1987FF 0%, #19CCFF 100%);
}
@media screen and (max-width: 375px) and (max-height: 667px) {
  .main__offers .button-wrapper .button-continue {
    height: 48px;
  }
}

.footer__heading {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  opacity: 0.5;
  margin-bottom: 16px;
}
@media screen and (max-width: 414px) and (max-height: 736px) {
  .footer__heading {
    margin-bottom: 8px;
  }
}
.footer__link-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #FFFFFF;
  opacity: 0.5;
  text-decoration: underline;
}
.footer .indicator {
  width: 140px;
  height: 5px;
  background-color: #FFFFFF;
  margin: 21px auto 6px;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */