.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;

  background: url('./../assets/images/background-full/4.png') no-repeat;
  background-size: cover;
  
  @media (min-resolution: 2dppx) {
    background: url('./../assets/images/background-full/4@2x.png') no-repeat;
    background-size: cover;
  }

  @media (min-resolution: 3dppx) {
    background: url('./../assets/images/background-full/4@3x.png') no-repeat;
    background-size: cover;
  }
  @media screen and (max-width: 414px) and (max-height: 736px){
    background-position-y: -40px;
  }
  @media screen and (max-width: 375px) and (max-height: 667px){
    background-position-y: -40px;
  }
}