.footer{

  &__heading{
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 16px;

    @media screen and (max-width: 414px) and (max-height: 736px){
      margin-bottom: 8px;
    }
  }

  &__link-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link{
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    opacity: 0.5;
    text-decoration: underline;
  }
  .indicator{
    width: 140px;
    height: 5px;
    background-color: #FFFFFF;
    margin: 21px auto 6px;
    border-radius: 5px;
  }
}