.header__content{
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin-top: 40px;
  background-color: transparent;

  @media screen and (max-width: 375px) and (max-height: 667px){
    margin-top: 22px;
  }

  .close-link{
    width: 24px;
    height: 24px;
    display: block;
  }

  .restore-link{
    font-size: 13px;
    line-height: 3.15;
    color: rgba(255, 255, 255, 0.6);
    text-transform: capitalize;
  }

}
