.main{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;

  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17vh 0 5vh;

    @media screen and (max-width: 414px) and (max-height: 736px){
      padding: 15vh 0 3vh;
    }

    .title{
      font-weight: 700;
      font-size: 36px;
      line-height: 1.2;
      text-align: center;
      color: #FFFFFF;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
      margin-bottom: 29px;

      @media screen and (max-width: 414px) and (max-height: 736px){
        font-size: 26px;
        margin-bottom: 18px;
      }
      @media screen and (max-width: 375px) and (max-height: 667px){
        font-size: 26px;
        margin-bottom: 16px;
      }

      &__size{
        font-size: 24px;
      }
    }

    .features{
      display: flex;
      flex-direction: column;
      
      &__item{
        display: flex;
        align-items: center;
      }
      &__img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 22px;
        height: 22px;
        margin-right: 8px;
      }
      &__description{
        font-size: 17px;
        line-height: 1.79;
        color: #FFFFFF;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.684495);
      }
    }

  }

  &__offers{

    .offers-list{
      padding: 0 20px;
      display: flex;
      justify-content: space-between;

      .offer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 151px;
        height: 178px;
        padding: 28px 0 14px;
        color: #FFFFFF;

        @media screen and (max-width: 375px) and (max-height: 667px){
          width: 140px;
          height: 166px;
          padding: 20px 0 14px;
        }

        &--disabled{
          opacity: 0.6;
          scale: (0.9);
        }

        &__title{
          font-size: 18px;
          line-height: 22px;
          font-weight: 700;
          margin-bottom: 23px;

          @media screen and (max-width: 375px) and (max-height: 667px){
            margin-bottom: 18px;
            font-size: 16px;
          }
        }
        &__price-wrapper{
          margin-bottom: 12px;
        }
        /*
        &__price{
          font-weight: 700;
          font-size: 24px;
          line-height: 15px;
        }
        &__price-duration{
          font-weight: 400;
          font-size: 15px;
          line-height: 15px;
        }
        */
        &__price{
          strong{
            font-weight: 700;
            font-size: 24px;
            line-height: 15px;
          }

          font-weight: 400;
          font-size: 15px;
          line-height: 15px;
          text-align: center;
        }
        
        &__feature{
          font-size: 15.4px;
          line-height: 18px;
          font-weight: 700;
          background-color: #495795;
          margin-bottom: 10px;
          padding: 4px 0;
          width: 100%;
          text-align: center;

          @media screen and (max-width: 375px) and (max-height: 667px){
            font-size: 14px;
          }
        }
        &__month{
          font-size: 13.2px;
          line-height: 15px;
        }

        &__discont{
          width: 33px;
          height: 33px;
          border-radius: 50%;
          background-color: #DB0000;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          position: absolute;
          top: -1px;
          right: 1px;

          @media screen and (max-width: 375px) and (max-height: 667px){
            width: 30px;
            height: 30px;
          }
        }
      }
      
      .offer-1{
        background: url('../../assets/images/combined-shape.webp') no-repeat;
        background-size: contain;
        background-position: center;
      }
      .offer-2{
        background: url('../../assets/images/combined-shape-cut.webp') no-repeat;
        background-size: contain;
        position: relative;
        background-position: center;
      }


    }

    .button-wrapper{
      text-align: center;
      padding: 16px 20px;

      .button-continue{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 54px;
        border-radius: 30px;
        text-transform: capitalize;
        font-size: 17px;
        font-weight: 700;
        line-height: 17px;
        color: #FFFFFF;
        background: linear-gradient(270deg, #1987FF 0%, #19CCFF 100%);

        @media screen and (max-width: 375px) and (max-height: 667px){
          height: 48px;
        }
      }
    }
  }
}

