<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <title>BP mobile test task</title>
</head>
<body>
  <div class="app">
    <header class="header">
      <div class="container">
        <div class="header__content">
          <a href="#" class="close-link">
            <img class="img-responsive"  src="./assets/images/close.svg" alt="close page">
          </a>
          <a class="restore-link" href="#" data-content="Restore">Restore</a>
        </div>
      </div>
    </header>
    <main class="main">
      <div class="container">
        <section class="main__content">
            <h1 class="title" data-content="Unlimited Access<br>to All Features"></h1>
            <ul class="features">
              <li class="features__item">
                <div class="features__img">
                  <img class="" src="./assets/images/unlimitedDocs.svg" alt="">
                </div>
                <p class="features__description" data-content="Unlimited documents"></p> 
              </li>
              <li class="features__item">
                <div class="features__img">
                  <img class="" src="./assets/images/export.svg" alt="">
                </div>
                <p class="features__description" data-content="Count mode"></p> 
              </li>
              <li class="features__item">
                <div class="features__img">
                  <img class="" src="./assets/images/noAds.svg" alt="">
                </div>
                <p class="features__description" data-content="Text recognition (OCR)"></p> 
              </li>
            </ul>
        </section> 
        <section class="main__offers">
          <ul class="offers-list">
              <li class="offers-list__item">
                <div class="offer offer-1" id="offer-1">
                  <h2 class="offer__title" data-content="Monthly"></h2>
                  <div class="offer__price-wrapper">
                    
                    <p class="offer__price" data-content="<strong>{{price}}</strong><br>per month"></p>
                    <!--
                    <p class="offer__price">$9.99</p>
                    <p class="offer__price-duration">per month</p>
                    -->
                  </div>
                  <p class="offer__feature" data-content="3 DAYS FREE"></p>
                  <p class="offer__month">$9.99 month</p>
                </div>
              </li>
              <li class="offers-list__item">
                <div class="offer offer-2 offer--disabled" id="offer-2">
                  <div class="offer__discont" data-content="-83%"></div>
                  <h2 class="offer__title" data-content="Annually"></h2>
                  <div class="offer__price-wrapper">
                    <p class="offer__price" data-content="<strong>{{price}}</strong><br>per year"></p>
                    <!--
                    <p class="offer__price">$19.99</p>
                    <p class="offer__price-duration">per year</p>
                    -->
                  </div>
                  <p class="offer__feature" data-content="MOST POPULAR"></p>
                  <p class="offer__month">$1.66 month</p>
                </div>
              </li>  
            </ul>
            <div class="button-wrapper">
              <a  class="button button-continue" href="https://apple.com/" id="continue-btn" data-content="Continue"></a>
            </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <div class="footer__content">
          <h2 class="footer__heading" data-content="Auto-renewable. Cancel anytime."></h2>
          <div class="footer__link-wrapper">
            <a class="footer__link" href="#" data-content="Terms of Use"></a>
            <a class="footer__link" href="#" data-content="Privacy Policy"></a>
          </div>
        </div>
        <div class="indicator"></div>
      </div>
    </footer>
  </div>
  
  <script src="./js/script.js"  type="module"></script>
</body>
</html>