@font-face {
  font-family: 'SFProDisplay';
  src: url('../../assets/fonts/SF-Pro-Display-Regular.ttf') format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../../assets/fonts/SF-Pro-Display-Medium.ttf') format('ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'SFProDisplay';
  src: url('../../assets/fonts/SF-Pro-Display-Bold.ttf') format('ttf');
  font-weight: 700;
}
  



