
html,
body{
  font-family: 'SFProDisplay', sans-serif;
  font-size: 16px; 
  font-weight: 400;
  font-style: normal;
  background-color: #000000;
}

a{
  text-decoration: none;
  outline: none;
  color: inherit;
  cursor: pointer;
}

button{
  cursor: pointer; 
  text-decoration: none;
  border: none;
  background-color: transparent;
}
.container{
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
	max-width: 375px;
}
.img-responsive{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}